# --- CMake ---
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
_CPack_Packages/

# --- Compiled Files ---
*.o
*.obj
*.out

# --- Executable ---
pack_dlls/
*.zip
*.exe
game
main

# --- Dynamic Libraries ---
*.dll
*.so
*.dylib
!dependencies/*.dll

# --- Build Folders ---
build/
bin/
!dependencies/bin
obj/
x64/
Debug/
Release/

# --- IDEs and Editors ---
.vscode/
.vs/
.idea/
*.swp
*.user

# --- Temporary Files ---
*.log
*.tmp

# --- System ---
.DS_Store
Thumbs.db